@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Cormorant+Garamond:wght@400;500;600&display=swap');

/*==========================
        RESET
==========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}

body{

    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    radial-gradient(circle,
    #503322 0%,
    #2b1a12 65%,
    #140c08 100%);

    font-family:"Cormorant Garamond",serif;

}

/*==========================
        ESCENA
==========================*/

#escena{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

}

#mesa{

    width:1400px;
    height:820px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:25px;

    background:
    linear-gradient(
    90deg,
    #5d3924,
    #76492c,
    #5d3924);

}

/*==========================
        LIBRO
==========================*/

#libro{

    width:520px;
    height:700px;

    overflow:hidden;

    border-radius:10px;

    background:
    linear-gradient(
    135deg,
    #42291b,
    #69422c,
    #42291b);

    transition:.45s;

}

/*==========================
        PORTADA
==========================*/

#portada{

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    color:#f4e5c3;

    text-align:center;

    padding:60px;

    cursor:pointer;

}

#portada h1{

    font-family:"Cinzel",serif;

    font-size:52px;

    color:#ebd49b;

}

#portada h3{

    margin-top:25px;

    letter-spacing:5px;

    color:#d9bc86;

}

#portada p{

    margin-top:90px;

    font-size:28px;

    line-height:42px;

}

#abrirTexto{

    margin-top:90px;

    opacity:.8;

}

/*==========================
        INTERIOR
==========================*/

.oculto{

    display:none;

}

#interior{

    width:100%;
    height:100%;

    display:flex;

}

/*==========================
        PAGINAS
==========================*/

.pagina{

    width:50%;
    height:100%;

    background:#efe2c4;

    padding:30px;

    display:flex;
    flex-direction:column;

}

.pagina:first-child{

    border-right:2px solid rgba(0,0,0,.15);

}

/*==========================
    CONTENIDO PAGINA
==========================*/

.contenidoPagina{

    flex:1;

    display:flex;
    flex-direction:column;

    overflow:hidden;

}

/*==========================
        TITULO
==========================*/

.tituloPagina{

    font-family:"Cinzel",serif;

    font-size:24px;

    text-align:center;

    color:#4b2e1d;

    margin-bottom:20px;

    line-height:1.25;

}

/*==========================
        TEXTO
==========================*/

.textoPagina{

    flex:1;

    overflow-y:auto;

    padding-right:8px;

    text-align:justify;

    font-size:19px;

    line-height:1.75;

    color:#302018;

}

/*==========================
    BARRA SCROLL
==========================*/

.textoPagina::-webkit-scrollbar{

    width:5px;

}

.textoPagina::-webkit-scrollbar-thumb{

    background:#a98b65;

    border-radius:20px;

}

/*==========================
    NUMERO PAGINA
==========================*/

.numeroPagina{

    margin-top:20px;

    text-align:center;

    font-size:17px;

    color:#6a4a34;

    font-style:italic;

}
